*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: rgb(158, 220, 248);
  display: flex;
  flex-flow: column;
}


/* HEADER */

header .menu{
  border: 4px dotted black;
  padding: 10px;
  background-color: orange;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

header .menu ul{
  display: flex;
  list-style: none;
}

header .menu ul li{
  margin-right: 8px;
}

a{
  text-decoration: none;
}

header .jumbotron{
  background-color: darkblue;
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
}

header .jumbotron .sotto-menu{
  border: 4px dotted black;
  background-color: #EE82EE;
  height: 80%;
  width: 50%;
  margin: 0 auto;
}

/* MAIN */

.prima-box{
  margin: 0 auto;
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 540px;
}

.seconda-box{
  margin: 0 auto;
  background-color:#D3D3D3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 540px;
}


.terzo-box{
  margin: 0 auto;
  background-color:#D3D3D3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1080px;
}

.prima-box .blue{
  border: 4px dotted black;
  background-color: #1E90FF;
  height: 80%;
  width: 40%;
}

.prima-box .pink{
  border: 4px dotted black;
  display: flex;
  background-color: #FFC0CB;
  height: 80%;
  width: 30%;
}

.seconda-box .pink{
  border: 4px dotted black;
  display: flex;
  background-color: #FFC0CB;
  height: 80%;
  width: 30%;
}

.seconda-box .blue{
  border: 4px dotted black;
  background-color: #1E90FF;
  height: 80%;
  width: 40%;
}

.terzo-box .green{
  border: 4px dotted black;
  background-color: #228B22;
  height: 80%;
  width: 70%;
}

/* FOOTER */

footer{
  background-color:#23272A;
}

.quarta-box{
width: 70%;
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
padding: 1.5rem 0;
}

.quarta-box > div{
  height: 650px;
}

.quarta-box .salmon{
  border: 4px dotted black;
  background-color: #F08080;
  width: 30%;
}

.quarta-box .cyan{
  border: 4px dotted black;
  background-color: #20B2AA;
  width: 20%;
}

.quinta-box{
  margin: 0 auto;
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  width: 50%;
}

.quinta-box .quinta1{
 background-color: #e9a3c8;
 padding: 10px;
}

.quinta-box .quinta2{
 background-color: #e9a3c8;
 padding: 10px;
}